@import '../variables.scss';
@import '../reset.scss';
@import '../commons.scss';


circle {
  &.county-circle {
    stroke: $white;
    fill: $darkblue;
  }
}

text {
  &.county-number {
    fill: $white;
    pointer-events: none;
    border-radius: 12px;
    font-weight: bold;
  }
}

.countyNotification:hover {
  circle {
    &.county-circle {
      fill: $lightblue;
    }
  }
}