@import '../../styles/variables.scss';
@import '../../styles/reset.scss';

.toggle-buttons {
  position: absolute;
  margin-left: auto;
  bottom: 10px;
  right: 40px;

  * {
    margin-left: 10px;
  }
}
