$font-stack: 'Roboto', Helvetica, sans-serif;
$darkblue: #35495E;
$lightblue: #7B8693;
$darkgrey: #767676;
$lightgrey: #E1E1E1;
$darkgreen: #41B883;
$lightgreen: #97C1AE;
$white: #FFFFFF;
$black: #000000;
$shadowblack: rgba(0, 0, 0, 0.3);
