@import 'variables.scss';
@import 'reset.scss';

#app {
  font: 100% $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $darkblue;
  max-height: 100%;
  min-height: 100%;
  display: flex;
}

h1, h2 {
  font-weight: normal;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $darkgreen;
}
