@import 'variables.scss';
@import 'reset.scss';

.left-shadow {
  box-shadow: -5px 0px 10px -2px $lightgrey;
}

.right-shadow {
  box-shadow: 5px 0px 10px -2px $lightgrey;
}

.bottom-shadow {
  box-shadow: 0px 5px 5px -2px $lightgrey;
}

.light-border {
  border: 1px solid $lightgrey;
}

.light-border-bottom {
  border-bottom: 1px solid $lightgrey;
}

.flex-centering {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
