@import 'variables.scss';
@import 'reset.scss';

#date-picker {
  width: 300px;
  height: 250px;
  margin: 20px;

  .header {
    height: 50px;
    color: $darkgreen;

    i {
      background-color: red;
      margin: auto 0;
    }
  }
  .calendar {
    background-color: blue;
    flex: 1;
  }
  .footer {
    background-color: red;
    height: 30px;
  }
}
