@import 'variables.scss';
@import 'reset.scss';

#date-picker {
  width: 300px;
  height: 275px;
  margin: 20px;

  .header {
    height: 50px;
    color: $darkgreen;

    i {
      margin: auto 10px;
      cursor: pointer;
    }

    .year-month {
      flex: 1;

      p {
        margin: 0 10px;

        .year {
          font-size: 10px;
        }

        .month {
          font-weight: bold;
        }
      }

      .previous {
        transform: scale(-1, 1);
      }
    }
  }

  .calendar {
    flex: 1;
    width: 240px;
    margin: 0 auto;

    .week-days {
      height: 25px;

      color: $darkgrey;

      .day {
        width: 30px;
        height: 100%;
      }
    }

    .wrapper {
      flex: 1;

      .week-numbers {
        width: 30px;
        color: $lightgrey;

        .week {
          flex: 1;
        }
      }

      .days {
        flex: 1;
        color: white;

        .row {
          height: 25px;

          .day {
            flex: 1;
            cursor: pointer;

            &.current-month {
              color: $darkblue;
            }

            &:not(.current-month) {
              color: $superlightblue;
            }

            &:hover {
              background-color: $lightgreen;
              color: white;
            }

          }
        }
      }
    }
  }
  .footer {
    height: 50px;
  }
}
