@import 'variables.scss';
@import 'reset.scss';

.header {
  height: 50px;
  color: $darkgreen;

  i {
    margin: auto 10px;
    cursor: pointer;
    &:not(:hover) {
      color: $lightgrey;
    }
  }

  .year-month {
    flex: 1;

    p {
      margin: 0 10px;
      min-width: 40%;

      .year {
        font-size: 10px;
      }

      .month {
        font-weight: bold;
      }
    }

    .previous {
      transform: scale(-1, 1);
    }
  }
}
