@import 'variables.scss';
@import 'reset.scss';

#drawerhandle {
  background-color: $darkgreen;
  min-height: 40px;
  margin-top: auto;
  z-index: 1;

  &.open {
    cursor: pointer;
  }

  img {
    transition: 0.1s;
    width: 50px;
  }

  &.closed img{
    transform: rotate(180deg);
  }
}