@import 'variables.scss';
@import 'reset.scss';

#drawer-news-list {
  display: flex;
  flex-direction: column;
  min-height: 0;

  .title {
    color: $white;
    background-color: $darkblue;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    text-transform: capitalize;
  }
}
