@import 'variables.scss';
@import 'reset.scss';

.fade-enter-active {
  transition: opacity .9s;
}

.fade-enter {
  opacity: 0;
}

svg.mapContainer {
  overflow: hidden;
  background-color: $white;
  width:100%;
  height:100%;
  background-color: $white;

  g.map {
    margin: auto;
    display: block;

    circle {
      &.city {
        fill:black;
      }
    }

    path {
      &.country, &.county, &.municipality {
        stroke: $white;
        stroke-width: 0.5px;
        stroke-opacity: 1;
      }

      &.county, &.municipality {
        fill-opacity: 1;
      }

      &.country {
        fill: $lightgrey;
      }

      &.county {
        fill: $darkgreen;
      }

      &.municipality {
        fill: $darkblue;
        stroke-width: 0.1px;
        stroke: $white;
      }

      &.county:hover {
        fill: $darkblue;
      }

      &.municipality:hover {
        fill: $lightblue;
      }
    }
  }
}
