svg.mapContainer {
  overflow: hidden;
  background-color: white;
  width:100%;
  height:100%;
}

svg.mapContainer g.map {
  margin: auto;
  display: block;
  background-color: steelblue;
}

svg.mapContainer g.map path.country {
  stroke: white;
  stroke-width: 0.5px;
  stroke-opacity: 1;
  fill: black;
  fill-opacity: 0.3;
} 
svg.mapContainer g.map path.county {
  stroke: white;
  stroke-width: 0.5px;
  stroke-opacity: 1;
  fill: #41B883;
  fill-opacity: 1;
}

svg.mapContainer g.map path.municipality {
  stroke: white;
  stroke-width: 0.5px;
  stroke-opacity: 1;
  fill: rgb(60, 122, 94);
  fill-opacity: 1;
}

svg.mapContainer g.map path.county:hover {
  fill: rgb(8, 128, 74);
}

svg.mapContainer g.map path.municipality:hover {
  fill: white;
  fill-opacity: 0.8;
}

svg.mapContainer g.map circle.municipality-notification {
  fill: #D46868;
  transition: 0.4s;
}

svg.mapContainer g.map circle.municipality-notification:hover {
  fill: rgb(97, 0, 0);
  transition: 0.1s;
}

svg.mapContainer g.map text.municipality-notification {
  fill: white;
  pointer-events: none;
}

svg.mapContainer g.map circle.county-notification {
  fill: rgb(211, 57, 57);
}

svg.mapContainer g.map circle.county-notification:hover {
  fill: rgb(221, 25, 25);
}

svg.mapContainer g.map text.county-notification {
  fill: white;
  text-align:center;
  pointer-events: none;
}

.fade-enter-active {
  transition: opacity .9s;
}
 
.fade-enter {
  opacity: 0;
}