@import 'variables.scss';
@import 'reset.scss';

svg.mapContainer g.map {
  circle {
    &.circle-municipality, &.circle-county {
      fill: $red;
    }

    &.circle-municipality {
      transition: 0.4s;
    }

    &.circle-municipality:hover, &.circle-county:hover {
      fill: yellow;
    }

    &.circle-municipality:hover {
      transition: 0s;
    }
  }

  .circle-number {
    fill: $white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    pointer-events: none;
    border-radius: 12px;
    background-color: $red;
  }
}
