@import 'variables.scss';
@import 'reset.scss';

.news-item {
  height: 60px;
  padding: 20px;
  cursor: pointer;

  &.active, &.hover, &.filter {
    color: $white;
  }

  &.filter {
    background-color: $lightblue;
  }

  &.active {
    background-color: $darkgreen;
  }

  &.hover {
    background-color: $lightgreen;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 10px;
  }

}
