@import 'variables.scss';
@import 'reset.scss';

#news-sidebar {
  width: 300px;
  display: flex;
  z-index: 1;
  flex-direction: column;

  .header {
    height: 100px;
    background-color: $darkblue;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $darkgreen;
      transition: .3s;
      box-shadow: 0px 6px 10px -2px $shadowblack;
    }

    img {
      width: 250px;
      display: block;
      margin: 0 auto;
    }
  }
}
