@import 'variables.scss';
@import 'reset.scss';

#news-sidebar {
  width: 300px;
  display: flex;
  z-index: 1;
  flex-direction: column;

  .header {
    height: 100px;
    background-color: $darkblue;
    color: $white;
    padding: 10px;
  }
}
