@import 'variables.scss';
@import 'reset.scss';

svg.mapContainer g.map .countyNotification {

  circle {
    &.county-circle {
      stroke: $white;
      fill: $darkblue;
    }
  }

  text {
    &.county-number {
      fill: $white;
      pointer-events: none;
      border-radius: 12px;
      font-weight: bold;
    }
  }
}

svg.mapContainer g.map .countyNotification:hover {
  circle {
    &.county-circle {
      fill: $lightblue;
    }
  }
}