@import 'variables.scss';
@import 'reset.scss';

svg.mapContainer g.map {
  circle {

    &.municipality-circle {
      fill: $white;
    }

    &.municipality-circle:hover {
      fill: yellow;
    }
  }

  text {
    &.municipality-number {
      fill: $black;
      font-weight: bolder;
      pointer-events: none;
      border-radius: 12px;
    }
  }

  line {
    stroke: $white;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}