@import 'variables.scss';
@import 'reset.scss';

svg.mapContainer g.map .municipalityNoticication{
  circle {
    &.municipality-circle {
      fill: $white;
    }
  }

  text {
    &.municipality-number {
      fill: $black;
      font-weight: bolder;
      pointer-events: none;
      border-radius: 12px;
    }
  }

  line {
    stroke: $white;
    pointer-events: none;
  }
}

svg.mapContainer g.map .municipalityNoticication:hover{
  circle {
    &.municipality-circle {
      fill: $grey;
    }
  }
}
