@import 'variables.scss';
@import 'reset.scss';

svg.mapContainer g.map {
  circle {
    &.city-circle {
      fill: $black;
      stroke: $black;
    }

    &.city-circle:hover {
      fill: yellow;
    }
  }

  text {
    &.city-number {
      fill: $white;
      font-weight: bolder;
      pointer-events: none;
    }
  }

  line {
    stroke: $black;
  }
  
}