@import 'variables.scss';
@import 'reset.scss';

#settings-sidebar {
  width: 250px;
  box-shadow: -5px 0px 10px -2px $lightgrey;
}

li {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.setting {
  .switch {
    height: 30px;
    width: 60px;

    .background {
      display: inline-block;
      background-color: white;
      border: 1px solid $lightgrey;
      height: 30px;
      width: 60px;
      border-radius: 50px;
    }

    .toggle {
      display: block;
      height: 30px;
      width: 30px;
      border: 1px solid $lightgrey;
      border-radius: 50px;
    }
  }
}
