@import 'variables.scss';
@import 'reset.scss';

#settings-sidebar {
  width: 250px;
}

.setting {
  .switch {
    height: 30px;
    width: 60px;

    .background {
      display: inline-block;
      background-color: $white;
      height: 30px;
      width: 60px;
      border-radius: 50px;
    }

    .toggle {
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 50px;
    }
  }
}
