@import 'variables.scss';
@import 'reset.scss';

.toggle-buttons {
  position: absolute;
  margin-left: auto;
  bottom: 10px;
  right: 40px;

  &.flex-centering {
    flex-direction: row;

    * {
      margin-left: 10px
    }
  }
}
