body {
    margin: 0;
    padding: 0; 
    background-color: steelblue;
}

#app{
    background-color: steelblue;
}

svg.mapContainer {
    overflow: hidden;
    border: 3px solid black;
    background-color: #35495E;
}

g.map {
    margin: auto;
    display: block;
    background-color: steelblue;
}

g.map path {
    stroke: white;
    stroke-width: 0.5px;
    stroke-opacity: 1;
    fill: #41B883;
    fill-opacity: 1;
}

g.map path:hover {
    fill: white;
    fill-opacity: 0.8;
}
