@import '../../styles/variables.scss';
@import '../../styles/reset.scss';

#drawer {
  width: 400px;
  max-height: 80%;
  right: 40px;
  margin-left: auto;
  background-color: $white;
  position: absolute;
}
