@import '../../styles/variables.scss';
@import '../../styles/reset.scss';

#date-picker-toggler {
  position: absolute;
  left: 310px;
  top: 10px;

  height: 30px;
  padding: 0 10px;

  z-index: 1;
  border-radius: 50px;

  background-color: $white;
  cursor: pointer;

  &:hover {
    i {
      color: $darkgreen;
    }

    &.full-shadow {
      transition: 0.2s;
      box-shadow: 0px 0px 12px 1px $shadowblack;
    }
  }

  div {
    height: 100%;
    width: 100%;

    p, i {
      margin: auto 0;
    }

    p {
      font-size: 12px;
      color: $darkblue;
    }

    :nth-child(2) {
      margin: auto 5px;
    }

    i {
      font-size: 16px;
      margin-left: 5px;
      color: $lightgrey;
    }
  }
}
